.card {
    border: 1px solid #000;
    display: inline-block;
    width: 500px;
}

.card img {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.card-content {
    display: inline-block;
    width: 55%;
    padding: 20px;
}

@media (max-width: 480px) {
    .card img,
    .card-content {
        display: block;
        width: 100%;
        text-align: center;
    }
}
